.rd {
  accent-color: green;
}

#modelpopup {
  margin-top: 145px !important;
}

#modelbody {
  margin-left: -82px !important;
  background-color: white !important;
  width: 139% !important;
}
.headersection {
  display: flex !important;
  margin-left: -77px !important;
  margin-top: -138px !important;
  padding: 6px !important;
  background-color: rgb(241, 239, 239) !important;
  width: 122% !important;
}
.imagecars {
  height: 22px !important;

  width: 27px !important;
}
.titlename {
  margin-left: 20px !important;
  font-size: 20px !important;
}
#submitbtn {
  height: 34px !important;
  margin-left: 339px !important;
  width: 62px !important;
  font-size: 13px !important;
}
#closebtn {
  border: 1px solid green !important;
  background-color: white !important;
  color: green !important;
  margin-left: 20px !important;
  font-size: 13px !important;
}
.tableheader {
  height: 449px !important;
  overflow-y: scroll !important;
  width: 717px !important;
}
.tableheader1 {
  margin-top: 17px !important;
  padding: 10px !important;
}
.hederlist2 {
  list-style: none !important;
  width: 164px !important;
  margin-left: -28px !important;
  font-weight: 800 !important;
}
.hederlist3 {
  list-style: none !important;
  width: 140px !important;

  font-weight: 800 !important;
}

.hederlist4 {
  list-style: none !important;
  width: 186px !important;

  font-weight: 800 !important;
}

.hederlist5 {
  list-style: none !important;
  width: 120px !important;

  font-weight: 800 !important;
}

.tablebodylist {
  list-style: none !important;
  width: 37px !important;
  margin: 10px 20px 0px !important;
}

.tablebodylist1 {
  list-style: none !important;
  width: 135px !important;
  margin-left: -28px !important;
}
.tablebodylist2 {
  list-style: none !important;
  width: 162px !important;
}
.tablebodylist3 {
  list-style: none !important;
  width: 181px !important;
}

.tablebodylist4 {
  list-style: none !important;
  width: 169px !important;
}
